*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: "Open Sans";
}
img{
    max-width: 100%;
}
.doggos{
    font-family: "Oswald";
    font-size: 1.25rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.strays{
    max-width: 300px;
}

.dog-tags div{
    font-family: "Open Sans";
    font-size: .8rem;
    display: inline-block;
    justify-content: flex-end;
    padding: 4px;
    margin: 2px;
    /* border: 3px; */
    background-color: aqua;
    border-radius: 10px;

}

.header {

}

.footerContainer{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    
    /* max-width: 25%; */
    
}

.footer{
    display: 
}

.footPics{
    max-width: 33%;

}
